<section>
  <h2 id="about-me">
    这就是我
  </h2>
  <hr class="bar" />
  <div class="about-lock">
    <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
      <div class="flipper">
        <div class="front">
          <div class="face-img">
          </div>
        </div>
        <div class="back">
          <div class="face1-img">
          </div>
        </div>
      </div>
    </div>
    <div class="glyph-icon flaticon-cogwheel28">
    </div>
    <div class="glyph-icon flaticon-computer1">
    </div>
    <div class="glyph-icon flaticon-hosting">
    </div>
    <div class="glyph-icon flaticon-computers13">
    </div>
  </div>
  <div class="blurb">
    <p>
       15年毕业的小硕一枚，现任职于中国某家互联网公司，主要从事java后端开发。开博客旨在将自己平时所学及时整理，同时也能跟与我有相同兴趣的仁人志士分享技术经验。喜欢的一句话“这个世界并不在乎你的自尊，只在乎你做出来的成绩，然后再去强调你的感受。-----比尔·盖茨”
    </p>
  </div>
  <div class="skill-lock">
  </div>
</section>